.hero {
  position: relative;
  .hero-image {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @media (min-width: 992px) {
      flex-direction: row;

      position: absolute;
      bottom: -7%;
      width: 85%;
      padding: 1.6rem 1.87rem;
      margin-left: calc(10% / 2);
    }

    background-color: #fff;

    .banner-text {
      font-size: 2rem;
      @media (min-width: 992px) {
        font-size: 3.4rem;
        margin: 0;
      }
      font-weight: lighter;
    }

    .banner-btn {
      border: solid 1px #0d2b51;
      background-color: #0d2b51;
      color: #fff;
      text-transform: uppercase;
      padding: 2rem 6rem;
      font-size: 1rem;

      @media (min-width: 992px) {
        padding: 2.5rem 4.125rem;
      }
    }
  }
}
